.form-button{
    margin-left: 80%;

}

.site .winadmin
{
    line-height:22px;
}
.formdiv{
    display: none;
    margin: 15px;
}

.tree li
{
  line-height: 28px;
   font:  14px Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;
    color: #666;
}
.tree input[type=checkbox]
{
    margin:0 5px;
    width: 18px;
    height: 18px;
    border: 1px solid #d2d2d2;
}
.tree .level1
{
    margin-left: 20px;
}
.tree .level2
{
    margin-left: 40px;
}